*{
    background-color: aqua;
}

.wrapper h1{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: brown;
    font-style: italic;
}
.wrapper p{
    color: blue;
    font-size: 15px;
    margin-left: 10px;
}
#guess{
    color: blueviolet;
    border: none;
    font-size: 30px;
    font-style: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.guesssub{
    display: flex;
    padding: 10px 10px;
    margin-left: 40%;
    background-color: greenyellow;
    border-radius: 30px;
    margin-top: 9px;
    border: 1px solid yellow;
}
.guesssub:hover{
    color: blue;
    background-color: red;
    border: 1px solid red;
    transition: 1s;
}
#guessesfield{
    margin-left: 35%;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 6px 10px;
}